@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&family=Pinyon+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&family=Pinyon+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Figerona";
  src: url("/assets/fonts/Figerona.ttf");
}

@font-face {
  font-family: "Bodwars";
  src: url("/assets/fonts/Bodwars.otf");
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

 ol {
  list-style-type: decimal;
  padding-left: 16px;
}

#tos ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 4px; /* Adjust the value as needed */
  text-indent: -24px; /* Adjust the value based on the bullet point size */
  margin-left: 24px; /* Should be the same as the text-indent value */
}


strong {
font-style: normal;
font-weight: 700;
line-height: 220%;
color: #33007B;
}

.bg-radial{
  background: radial-gradient(260.42% 114.35% at 49.87% -8.5%, #FF7EBC 6.7%, #3B009A 45.64%, #1B0146 91.91%)
}

.bg-radial-2{
  background: radial-gradient(273.47% 120.08% at 50% -14.23%, #FFEA7E 4.25%, #C458B2 28.43%, #3B009A 80.26%, #1B0146 99.91%);
}

.shows-bg{
  background: radial-gradient(299.85% 100% at 50% 0%, #848ED7 8.06%, #5560AD 14.8%, #1B2679 32.03%, #131550 68.17%, #07092F 88.55%);
}

.text-glow{
  text-shadow: 0px 0px 40px #ffffffe2;
}